<html>
<body>
<form method="post">
    <input type="text" class="input-email" name="username"/>
    <input type="text" class="input-pass"/>
    <input type="submit" id="signinBtn"/>
</form>
</body>
</html>