<html>
<body>
<form action="ProcessRemove.cfm?abid={{abstractId}}" method="post">
    <input type="radio" name="txtOption" value="Remove"/>
    <p>Make it Inactive -- Remove it from SSRN's eLibrary</p>
    <input type="button" value="Continue" onclick="document.forms[0].submit()"/>
</form>
</body>
</html>
