{{#papers}}
    <form name="form1">
        <input type="button" value="Go" onclick="document.location=&quot;ReviseDetail.cfm?AuthorID=2711519&amp;AbstractID={{id}}&quot;"></input>
    </form>
{{/papers}}