<html>
<body>
<form name="form1" action="ReviseDB.cfm" method="POST" target="_top">
    <input type=hidden name="AbstractID" value="{{abstractId}}"\>
    <a href="abstract_id={{abstractId}}">{{abstractId}}</a>
    <input type="checkbox" name="2990376" />&nbsp;APPLIED SCIENCES

    <p>
        <input type="submit" name="cmdApproveMin" />
    </p>
</form>
</body>
</html>