<div id="headerId">
    <a href="/submissions/CreateNewAbstract.cfm" id="submitPaperLink">Submit a paper</a>
    <a id="profile">Profile</a>
    <a id="personal" href="/Participant.cfm?rectype=edit&partid={{ssrnAccountId}}">Personal Info</a>
</div>
<div>
    <h1>Paper Submitted</h1>
</div>
