<html>
<body>
<div id="headerId">
    <a href="/submissions/CreateNewAbstract.cfm" id="submitPaperLink">Submit a paper</a>
    <a id="profile">Profile</a>
    <a id="personal" href="/Participant.cfm?rectype=edit&partid={{loggedInUser}}">Personal Info</a>
</div>
<div class="leftmenuTD">
    <a href="/submissions/MyPapers.cfm">My Papers</a>
</div>
<div class="jensen-menu">
    <a href="/submissions/Stage1queue.cfm">Stage I Queue</a>
    <br/>
    <a href="/submissions/Revisequeue.cfm">Revision Queue</a>
</div>
</body>
</html>