@font-face {
    font-family: "nexus_sans";
    src:url('../fonts/nexus_sans/regular/NexusSansWebPro.eot');
    src:url('../fonts/nexus_sans/regular/NexusSansWebPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nexus_sans/regular/NexusSansWebPro.woff') format('woff'),
    url('../fonts/nexus_sans/regular/NexusSansWebPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "nexus_sans";
    src:url('../fonts/nexus_sans/italic/NexusSansWebPro-Italic.eot');
    src:url('../fonts/nexus_sans/italic/NexusSansWebPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nexus_sans/italic/NexusSansWebPro-Italic.woff') format('woff'),
    url('../fonts/nexus_sans/italic/NexusSansWebPro-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "nexus_sans";
    src:url('../fonts/nexus_sans/bold/NexusSansWebPro-Bold.eot');
    src:url('../fonts/nexus_sans/bold/NexusSansWebPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nexus_sans/bold/NexusSansWebPro-Bold.woff') format('woff'),
    url('../fonts/nexus_sans/bold/NexusSansWebPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "nexus_sans";
    src:url('../fonts/nexus_sans/bolditalic/NexusSansWebPro-BoldItalic.eot');
    src:url('../fonts/nexus_sans/bolditalic/NexusSansWebPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nexus_sans/bolditalic/NexusSansWebPro-BoldItalic.woff') format('woff'),
    url('../fonts/nexus_sans/bolditalic/NexusSansWebPro-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "nexus_serif";
    src:url('../fonts/nexus_serif/regular/NexusSerifWebPro.eot');
    src:url('../fonts/nexus_serif/regular/NexusSerifWebPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nexus_serif/regular/NexusSerifWebPro.woff') format('woff'),
    url('../fonts/nexus_serif/regular/NexusSerifWebPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "nexus_serif";
    src:url('../fonts/nexus_serif/italic/NexusSerifWebPro-Italic.eot');
    src:url('../fonts/nexus_serif/italic/NexusSerifWebPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nexus_serif/italic/NexusSerifWebPro-Italic.woff') format('woff'),
    url('../fonts/nexus_serif/italic/NexusSerifWebPro-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "nexus_serif";
    src:url('../fonts/nexus_serif/bold/NexusSerifWebPro-Bold.eot');
    src:url('../fonts/nexus_serif/bold/NexusSerifWebPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nexus_serif/bold/NexusSerifWebPro-Bold.woff') format('woff'),
    url('../fonts/nexus_serif/bold/NexusSerifWebPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "nexus_serif";
    src:url('../fonts/nexus_serif/bolditalic/NexusSerifWebPro-BoldItalic.eot');
    src:url('../fonts/nexus_serif/bolditalic/NexusSerifWebPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nexus_serif/bolditalic/NexusSerifWebPro-BoldItalic.woff') format('woff'),
    url('../fonts/nexus_serif/bolditalic/NexusSerifWebPro-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}